## Preprocessing

In [36]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
new_df = application_df.drop(['EIN','NAME'], axis = 1)
new_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique = new_df.nunique()
unique

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# list of columns with more than 10 unique values without asking amount as that is numeric
selected_cols = [col for col in list(dict(unique).keys()) if dict(unique)[col] > 10][:2]

# determine number of data points per unique value per row
application_counts = new_df[selected_cols[0]].value_counts()
classification_counts = new_df[selected_cols[1]].value_counts()

In [5]:
print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cut_off = 156
application_types_to_replace = [type for type in list(dict(application_counts).keys()) if dict(application_counts)[type] <= cut_off ]

# Replace in dataframe
for app in application_types_to_replace:
    new_df['APPLICATION_TYPE'] = new_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
new_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4500        1
C1728        1
C2570        1
C2190        1
C1283        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
# cut_off = 1
# classification_types_greater_than_one = [type for type in list(dict(classification_counts).keys()) if dict(classification_counts)[type] > cut_off ]
# classification_types_greater_than_one

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = []
min_cut_off = 1
cut_off = 1883

for type in [x for x in list(dict(classification_counts).keys())]:
    if dict(classification_counts)[type] < cut_off or dict(classification_counts)[type] == min_cut_off:
        classifications_to_replace.append(type)

# Replace in dataframe
for cls in classifications_to_replace:
    new_df['CLASSIFICATION'] = new_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
new_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dum_df = pd.get_dummies(new_df)
dum_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [24]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
target = dum_df['IS_SUCCESSFUL']
features = dum_df.drop(['IS_SUCCESSFUL'], axis = 1)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,target)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train.iloc[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5
nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=number_input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

# for personal use later
# https://stackoverflow.com/questions/44747343/keras-input-explanation-input-shape-units-batch-size-dim-etc

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 5)                 220
_________________________________________________________________
dense_10 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 6
=================================================================
Total params: 256
Trainable params: 256
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Train the model
#  YOUR CODE GOES HERE
# Fit the model to the training data
scale_train_x = np.asarray(X_train_scaled)
train_y = np.asarray(y_train)
scale_test_x = np.asarray(X_test_scaled)
test_y = np.asarray(y_test)

# fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)
fit_model = nn_model.fit(scale_train_x, train_y, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.6094 - accuracy: 0.6984
Epoch 2/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5797 - accuracy: 0.7172
Epoch 3/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5732 - accuracy: 0.7229
Epoch 4/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5697 - accuracy: 0.7259
Epoch 5/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5672 - accuracy: 0.7279
Epoch 6/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5654 - accuracy: 0.7287
Epoch 7/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5644 - accuracy: 0.7307
Epoch 8/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5632 - accuracy: 0.7300
Epoch 9/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5621 - accuracy: 0.7305
Epoch 10/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5614 - accuracy: 0.7310
Epoch 11/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5588 - accuracy: 0.7308
Epoch 12/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.5565 - accuracy: 0.7307
Epoch 13/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.5553 - accuracy: 0.7317
Epoch 14/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.5543 - accuracy: 0.7322
Epoch 15/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.5532 - accuracy: 0.7322
Epoch 16/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.5525 - accuracy: 0.7318
Epoch 17/100
25724/25724 [==============================] - 5s 183us/sample - loss: 0.5522 - accuracy: 0.7321
Epoch 18/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.5517 - accuracy: 0.7318
Epoch 19/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5513 - accuracy: 0.7323
Epoch 20/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5514 - accuracy: 0.7322
Epoch 21/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.5513 - accuracy: 0.7311
Epoch 22/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5508 - accuracy: 0.7313
Epoch 23/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5507 - accuracy: 0.7319
Epoch 24/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5506 - accuracy: 0.7318
Epoch 25/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5506 - accuracy: 0.7314
Epoch 26/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5505 - accuracy: 0.7317
Epoch 27/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5504 - accuracy: 0.7315
Epoch 28/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5501 - accuracy: 0.7321
Epoch 29/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5500 - accuracy: 0.7328
Epoch 30/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5501 - accuracy: 0.7324
Epoch 31/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5499 - accuracy: 0.7318
Epoch 32/100
25724/25724 [==============================] - 3s 127us/sample - loss: 0.5499 - accuracy: 0.7324
Epoch 33/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5497 - accuracy: 0.7324
Epoch 34/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5495 - accuracy: 0.7324
Epoch 35/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5496 - accuracy: 0.7328
Epoch 36/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.5497 - accuracy: 0.7329
Epoch 37/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5495 - accuracy: 0.7329
Epoch 38/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5491 - accuracy: 0.7316
Epoch 39/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5492 - accuracy: 0.7320
Epoch 40/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5491 - accuracy: 0.7330
Epoch 41/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5490 - accuracy: 0.7331
Epoch 42/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5488 - accuracy: 0.7327
Epoch 43/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5487 - accuracy: 0.7327
Epoch 44/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5489 - accuracy: 0.7313
Epoch 45/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5487 - accuracy: 0.7325
Epoch 46/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.5488 - accuracy: 0.7334
Epoch 47/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5485 - accuracy: 0.7320
Epoch 48/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5487 - accuracy: 0.7317
Epoch 49/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5485 - accuracy: 0.7320
Epoch 50/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5485 - accuracy: 0.7323
Epoch 51/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5486 - accuracy: 0.7312
Epoch 52/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5485 - accuracy: 0.7324
Epoch 53/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5483 - accuracy: 0.7324
Epoch 54/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5484 - accuracy: 0.7331
Epoch 55/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5482 - accuracy: 0.7329
Epoch 56/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5486 - accuracy: 0.7320
Epoch 57/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5485 - accuracy: 0.7331
Epoch 58/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5482 - accuracy: 0.7320
Epoch 59/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5481 - accuracy: 0.7331
Epoch 60/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5482 - accuracy: 0.7323
Epoch 61/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5482 - accuracy: 0.7329
Epoch 62/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5481 - accuracy: 0.7329
Epoch 63/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5482 - accuracy: 0.7324
Epoch 64/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5481 - accuracy: 0.7334
Epoch 65/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5478 - accuracy: 0.7323
Epoch 66/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5482 - accuracy: 0.7327
Epoch 67/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5478 - accuracy: 0.7339
Epoch 68/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5481 - accuracy: 0.7332
Epoch 69/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5480 - accuracy: 0.7328
Epoch 70/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5479 - accuracy: 0.7337
Epoch 71/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5477 - accuracy: 0.7317
Epoch 72/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5477 - accuracy: 0.7334
Epoch 73/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5478 - accuracy: 0.7327
Epoch 74/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5475 - accuracy: 0.7331
Epoch 75/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5476 - accuracy: 0.7336
Epoch 76/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5478 - accuracy: 0.7327
Epoch 77/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5478 - accuracy: 0.7334
Epoch 78/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5477 - accuracy: 0.7327
Epoch 79/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5476 - accuracy: 0.7334
Epoch 80/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5478 - accuracy: 0.7332
Epoch 81/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5476 - accuracy: 0.7329
Epoch 82/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5477 - accuracy: 0.7334
Epoch 83/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5475 - accuracy: 0.7334
Epoch 84/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5477 - accuracy: 0.7342
Epoch 85/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5477 - accuracy: 0.7341
Epoch 86/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5474 - accuracy: 0.7341
Epoch 87/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5477 - accuracy: 0.7333
Epoch 88/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5475 - accuracy: 0.7323
Epoch 89/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5474 - accuracy: 0.7329
Epoch 90/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5473 - accuracy: 0.7330
Epoch 91/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5471 - accuracy: 0.7333
Epoch 92/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5472 - accuracy: 0.7342
Epoch 93/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5473 - accuracy: 0.7337
Epoch 94/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5473 - accuracy: 0.7341
Epoch 95/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5470 - accuracy: 0.7341
Epoch 96/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5470 - accuracy: 0.7340
Epoch 97/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5473 - accuracy: 0.7342
Epoch 98/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5471 - accuracy: 0.7342
Epoch 99/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5468 - accuracy: 0.7329
Epoch 100/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5470 - accuracy: 0.7352

In [39]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

ValueError: Failed to find data adapter that can handle input: <class 'numpy.ndarray'>, <class 'pandas.core.series.Series'>

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE